.l-appear {
  transform: translateX(-150px);
}
.l-appear-active {
  transform: translateX(0);
  transition: transform 2s ease;
}
.l-enter {
  opacity: 0;
}

.l-enter-active {
  opacity: 1;
  transition: opacity 2s ease;
}

.l-exit {
  opacity: 1;
}

.l-exit-active {
  opacity: 0;
  transition: opacity 2s ease;
}